KAIYUNCODE_API_BASE=https://kaiyuncode.com
KAIYUNCODE_API_KEY=

DASHSCOPE_API_BASE=https://dashscope.aliyuncs.com/api/v1
DASHSCOPE_API_KEY=

DEEPSEEK_API_BASE=https://api.deepseek.com
DEEPSEEK_API_KEY=
